@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #333333; 
  background: white;
}

::placeholder {
  color: #9CA3AF !important;
  opacity: 1;
}

input, select, textarea {
  color: #111111;
}

label {
  color: #6B7280;
}